.btn-fim-editar {
    /* position: absolute; */
    display: flex;
    justify-content: flex-end;
    bottom: 10%;
    padding-right: 50px;
    right: 10px;
    margin-top: 5%;
}

.imagem-detalhe {
    align-items: center;
    text-align: center;

}

.btn-fim-editar button {    
    background-color: rgb(142, 187, 187);
    color: rgb(59, 61, 63);
}
.cabecalho {    
    display: inline-flex;
    font-size: 14px;
    color: black;
    margin-left: 10%;
    margin-right: 40%;
    padding: 1%;
}

.textoDetalhe {
    margin-left: 10%;
    width: 80%;
    background-color: #cae3f0;
    color: rgb(39, 38, 38);
    border-radius: 5px  10px 5px 10px;
    padding-right: 5px;
    margin-bottom: 50px;
}

.textoDetalhe img {
    margin-left: 40%;
    width: 50%;
    background-color: #a6a5a7;
    color: rgb(39, 38, 38);
    border-radius: 5px  10px 55px 10px;
}



.informacoes {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #e4edf2;
    color: rgb(28, 28, 29);
    border-radius: 5px  10px 25px 10px;
}

.foto {
    background-color: whitesmoke;
	border: 1px solid black;
	height: 120px;
	width: 150px;
	border-radius: 5px  10px 5px 10px;	
	box-shadow: 2px 3px 10px black;    
}