.publica-artigo {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    background-color: #a0aec6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.menupublicar-artigo {
    display: flex;
    height: 95%;
    width: 90%;    
    background-color: #6f7b81;
    border: 3px solida white;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 1%;
    color: whitesmoke;
    border-radius: 7px;    
}

.menupublicar h2 {
    margin-left: 5ch;
}

.camposcad-artigo {    
    margin-top: 5%;
    margin-bottom: 5ch;  
}

.formulario-artigo {    
    margin-left: 5%;
    margin-right: 10%;
    margin-top: -2%;
    margin-bottom: 2%;

}

.formulario-artigo input {    
    margin-left: 10%;
    margin-right: 10%;    
    min-width: 80%;
    margin-bottom: 5%;
    border: 1px solid #555;
    border-radius: 5px;
}

form button {
    margin-top: 5%;
    margin-bottom: 10%;
    display: right;
    text-align: center;
}

.image {
    background-color: whitesmoke;
	border: 1px solid black;
	height: 150px;
    width: 220px;
    align-self: center;
    margin-top: -1%;
	border-radius: 5px  10px 5px 10px;	
	box-shadow: 2px 3px 10px black;    
}